{{#if page.attributes.lang_zh-cn}}
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

本文档采用自动化机器翻译技术翻译。
尽管我们力求提供准确的译文，但不对翻译内容的完整性、准确性或可靠性作出任何保证。
若出现任何内容不一致情况，请以原始
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
英文
</a>
版本为准，且原始英文版本为权威文本。

</p>

</div>
</td>
</tr>
</table>
</div>
{{/if}}
