{{#if page.attributes.lang_fr}}
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Note"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

Ce document a été traduit à l'aide d'une technologie de traduction automatique.
Bien que nous nous efforcions de fournir des traductions exactes,
nous ne fournissons aucune garantie quant à l'exhaustivité, l'exactitude ou la
fiabilité du contenu traduit. En cas de divergence, la version originale
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
anglaise
</a>
prévaut et fait foi.

</p>
</div>
</td>
</tr>
</table>
</div>
{{/if}}
