{{#if page.attributes.lang_pt-br}}
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="fa icon-warning" title="Warning"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

Este documento foi traduzido usando tecnologia de tradução automática de máquina.
Sempre trabalhamos para apresentar traduções precisas, mas não oferecemos
nenhuma garantia em relação à integridade, precisão ou confiabilidade
do conteúdo traduzido. Em caso de qualquer discrepância, a versão original em
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
inglês
</a>
prevalecerá e constituirá o texto oficial.

</p>

</div>
</td>
</tr>
</table>
</div>
{{/if}}
