{{#if page.attributes.lang_es}}
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Nota"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

Este documento ha sido traducido utilizando tecnología de traducción automática.
Si bien nos esforzamos por proporcionar traducciones precisas,
no ofrecemos garantías sobre la integridad, precisión o confiabilidad del contenido traducido.
En caso de discrepancia, la versión original en
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
inglés
</a>
prevalecerá y constituirá el texto autorizado.

</p>
</div>
</td>
</tr>
</table>
</div>
{{/if}}
