{{#if page.attributes.lang_de}}
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="Anmerkung"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

Dieses Dokument wurde mithilfe automatisierter maschineller Übersetzungstechnologie übersetzt.
Wir bemühen uns um korrekte Übersetzungen, übernehmen jedoch keine Gewähr für die Vollständigkeit, Richtigkeit oder Zuverlässigkeit der übersetzten Inhalte.
Im Falle von Abweichungen ist die
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
englische
</a> Originalversion maßgebend und stellt den verbindlichen Text dar.

</p>
</div>
</td>
</tr>
</table>
</div>
{{/if}}