{{#if page.attributes.lang_ja}}
<div class="admonitionblock note">
<table>
<tr>
<td class="icon">
<i class="fa icon-note" title="注記"></i>
</td>
<td class="content">
<div class="paragraph">
<p>

この文書は自動機械翻訳技術を使用して翻訳されています。
正確な翻訳を提供するように努めておりますが、翻訳された内容の完全性、正確性、信頼性については一切保証いたしません。
相違がある場合は、元の英語版
<a href="https://documentation.suse.com/cloudnative{{hrefLang page.url 'en' this}}">
英語
</a>
が優先され、正式なテキストとなります。

</p>
</div>
</td>
</tr>
</table>
</div>
{{/if}}
