{{#if page.attributes.lang_pt}}
<div class="admonitionblock warning">
<table>
<tr>
<td class="icon">
<i class="fa icon-warning" title="Atenção"></i>
</td>
<td class="content">
<div class="paragraph">
<p>Esta é uma documentação não divulgada para {{page.component.title}} {{page.componentVersion.displayVersion}}.</p>
</div>
</td>
</tr>
</table>
</div>
{{/if}}
